<h1>Log in</h1>
<%= form_tag(new_session_path) do %>
	<%= label_tag :username %>
	<%= text_field_tag :username, '', class: "", placeholder: "Username" %>
	<%= label_tag :email %>
	<%= email_field_tag :email, '', class: "", placeholder: "Email" %>
	<%= label_tag :password %>
	<%= password_field_tag :passwod, '', class: "", placeholder: "Password" %>
	<%= submit_tag "Log In" %>
<% end %>